@model CloudApp.Models.BusinessModel.R1Smaple

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>R1Smaple</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KotatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KotatNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PiceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PiceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqarScope)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqarScope)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqarType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqarType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchDesgin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchDesgin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mansob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mansob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BulState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuldingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuldingType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuldinIsNull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuldinIsNull)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoadSeflt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoadSeflt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoadLight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoadLight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqarAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqarAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JarIsBulding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JarIsBulding)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqaraAttachment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqaraAttachment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttchType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttchType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TshteebType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TshteebType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuldingNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuldingNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.North)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.North)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.South)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.South)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.East)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.East)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.West)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.West)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NorthTall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NorthTall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SouthTall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SouthTall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EastTall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EastTall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WestTall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WestTall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarkterRoad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarkterRoad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterfcaesNorth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterfcaesNorth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterfcaesSouth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterfcaesSouth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterfcaesEast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterfcaesEast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterfcaesWest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterfcaesWest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.XtrenalDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XtrenalDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InnerDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InnerDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ahwash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ahwash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rescptions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rescptions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchConstract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchConstract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AsqfType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AsqfType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AzlType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AzlType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCetral)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCetral)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDesrt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDesrt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWindo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWindo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSeprat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSeprat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDoublWall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDoublWall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDoublGlass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDoublGlass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsJebsForSaqf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsJebsForSaqf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsHidingLight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsHidingLight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDonForSndElectric)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDonForSndElectric)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsKrajEletcru)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsKrajEletcru)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IslAder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IslAder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsNormalKraj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsNormalKraj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLifts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLifts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ishoter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ishoter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsArbicTut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsArbicTut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsForinTut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsForinTut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsElectricCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsElectricCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWaterConut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWaterConut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsElectricCountMostgl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsElectricCountMostgl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWatrerCountMostgl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWatrerCountMostgl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsElectricServicesInGada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsElectricServicesInGada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWaterServicesInGada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWaterServicesInGada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqarIsMosas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqarIsMosas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElcrictyCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElcrictyCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElcrictyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElcrictyNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WatrerCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WatrerCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaEarth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaEarth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceEarh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceEarh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalEarh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalEarh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaQabo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaQabo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceQabo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceQabo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalQabo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalQabo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaDorEarth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaDorEarth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceDorEarth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceDorEarth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalDorerath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalDorerath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaFirstDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaFirstDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceFirstDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceFirstDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalFirstDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalFirstDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreareptDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreareptDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceReptDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceReptDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalReptDoor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalReptDoor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaApnedxEarth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaApnedxEarth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceApendexErth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceApendexErth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalApendxEarth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalApendxEarth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaApendxup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaApendxup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceapendxup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceapendxup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Totalapendxup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Totalapendxup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaSwar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaSwar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceAsawr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceAsawr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAswar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAswar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Areagarden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Areagarden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPricegarden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPricegarden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Totalgarden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Totalgarden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaSwimingpool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaSwimingpool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceswiminpoo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceswiminpoo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Totalswimingpool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Totalswimingpool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaCars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaCars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceCars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceCars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaOthers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaOthers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterPriceothers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterPriceothers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Totalothers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Totalothers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfitPrecntage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfitPrecntage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AhlakPrecentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AhlakPrecentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastTaqeem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastTaqeem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MantinancePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MantinancePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MothmenOpnion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MothmenOpnion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountShowromms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountShowromms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DetlisShowRooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetlisShowRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EffictiveEjarShowRooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EffictiveEjarShowRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqarTgeemShowrooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqarTgeemShowrooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountForOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountForOffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DetlisOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetlisOffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EffictiveEjarOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EffictiveEjarOffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqarTgeemOffices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqarTgeemOffices)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountAprtment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountAprtment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DetlisApartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetlisApartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EffictiveEjarApartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EffictiveEjarApartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AqarTgeem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AqarTgeem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalOfRending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalOfRending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncomePrecentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomePrecentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountshowRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountshowRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RendingCompnyShowRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RendingCompnyShowRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractCountShowRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractCountShowRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RendingTypeShowRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RendingTypeShowRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Countoffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Countoffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RendingCompnyoffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RendingCompnyoffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractCountoffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractCountoffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RendingTypeoffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RendingTypeoffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountAprtmentfor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountAprtmentfor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RendingCompnyapartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RendingCompnyapartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractCountapartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractCountapartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RendingTypeapartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RendingTypeapartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Muthmen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Muthmen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adutit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adutit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Approver)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Intered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Intered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longtute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longtute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsIntered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsIntered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsThmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsThmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAduit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAduit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Custmer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Custmer.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
