@model IEnumerable<CloudApp.Models.BusinessModel.R1Smaple>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KotatNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PiceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlockNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqarScope)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqarType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArchDesgin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mansob)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BulState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuldingType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuldinIsNull)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoadSeflt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoadLight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqarAge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JarIsBulding)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqaraAttachment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttchType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TshteebType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuldingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.North)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.South)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.East)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.West)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NorthTall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SouthTall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EastTall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WestTall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarkterRoad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterfcaesNorth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterfcaesSouth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterfcaesEast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterfcaesWest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.XtrenalDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InnerDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ahwash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rescptions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArchConstract)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AsqfType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AzlType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCetral)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDesrt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsWindo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSeprat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDoublWall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDoublGlass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsJebsForSaqf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsHidingLight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDonForSndElectric)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsKrajEletcru)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IslAder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsNormalKraj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsGates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsLifts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ishoter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsArbicTut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsForinTut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsElectricCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsWaterConut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsElectricCountMostgl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsWatrerCountMostgl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsElectricServicesInGada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsWaterServicesInGada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqarIsMosas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElcrictyCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElcrictyNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WatrerCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WaterNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaEarth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceEarh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalEarh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaQabo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceQabo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalQabo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaDorEarth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceDorEarth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalDorerath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaFirstDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceFirstDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalFirstDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreareptDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceReptDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalReptDoor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaApnedxEarth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceApendexErth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalApendxEarth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaApendxup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceapendxup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totalapendxup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaSwar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceAsawr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAswar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Areagarden)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPricegarden)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totalgarden)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaSwimingpool)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceswiminpoo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totalswimingpool)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaCars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceCars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaOthers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterPriceothers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totalothers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfitPrecntage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AhlakPrecentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTaqeem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MantinancePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MothmenOpnion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountShowromms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DetlisShowRooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EffictiveEjarShowRooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqarTgeemShowrooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountForOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DetlisOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EffictiveEjarOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqarTgeemOffices)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountAprtment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DetlisApartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EffictiveEjarApartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AqarTgeem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalOfRending)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncomePrecentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountshowRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RendingCompnyShowRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractCountShowRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RendingTypeShowRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Countoffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RendingCompnyoffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractCountoffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RendingTypeoffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountAprtmentfor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RendingCompnyapartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractCountapartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RendingTypeapartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Muthmen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adutit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approver)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Intered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longtute)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latute)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsIntered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsThmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAduit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsApproved)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custmer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KotatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqarScope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArchDesgin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mansob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BulState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuldingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuldinIsNull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoadSeflt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoadLight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqarAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JarIsBulding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqaraAttachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttchType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TshteebType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuldingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.North)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.South)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.East)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.West)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NorthTall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SouthTall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EastTall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WestTall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkterRoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterfcaesNorth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterfcaesSouth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterfcaesEast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterfcaesWest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XtrenalDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InnerDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ahwash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rescptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArchConstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsqfType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AzlType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCetral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDesrt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWindo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSeprat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDoublWall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDoublGlass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsJebsForSaqf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHidingLight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDonForSndElectric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsKrajEletcru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IslAder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNormalKraj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLifts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ishoter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArbicTut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsForinTut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsElectricCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWaterConut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsElectricCountMostgl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWatrerCountMostgl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsElectricServicesInGada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWaterServicesInGada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqarIsMosas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElcrictyCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElcrictyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatrerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaEarth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceEarh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEarh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaQabo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceQabo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQabo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaDorEarth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceDorEarth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDorerath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaFirstDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceFirstDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFirstDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreareptDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceReptDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalReptDoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaApnedxEarth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceApendexErth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalApendxEarth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaApendxup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceapendxup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalapendxup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaSwar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceAsawr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAswar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areagarden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPricegarden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalgarden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaSwimingpool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceswiminpoo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalswimingpool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaCars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceCars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaOthers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterPriceothers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalothers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitPrecntage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AhlakPrecentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTaqeem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MantinancePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothmenOpnion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountShowromms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetlisShowRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffictiveEjarShowRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqarTgeemShowrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountForOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetlisOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffictiveEjarOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqarTgeemOffices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountAprtment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetlisApartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffictiveEjarApartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AqarTgeem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOfRending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomePrecentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountshowRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendingCompnyShowRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractCountShowRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendingTypeShowRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countoffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendingCompnyoffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractCountoffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendingTypeoffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountAprtmentfor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendingCompnyapartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractCountapartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendingTypeapartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Muthmen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adutit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longtute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsIntered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsThmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAduit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custmer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
