@model CloudApp.Models.BusinessModel.Instrument

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BDiscrib)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BDiscrib)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Locat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Locat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
