@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model RegisterViewModel
@{
    ViewData["Title"] = "تعديل مستخدم";
}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">تعديل مستخدم</h3>
        <ul class="panel-tool-options">
            <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
            <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
            <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
        </ul>
    </div>
    <div class="panel-body">


        <form asp-controller="Account" asp-action="EditRegister" enctype="multipart/form-data" method="post" class="form-horizontal">
            
            
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EmployName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EmployName" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PhoneNumber" class="form-control"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="IdentityId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IdentityId" class="form-control"/>
                    <span asp-validation-for="IdentityId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MemberId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="MemberId" class="form-control"/>
                    <span asp-validation-for="MemberId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InterPercentage" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="InterPercentage" class="form-control" />
                    <span asp-validation-for="InterPercentage" class="text-danger"></span>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="IsInterPercentage" />
                    <label asp-for="IsInterPercentage"></label>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="MuthminPercentage" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="MuthminPercentage" class="form-control" />
                    <span asp-validation-for="MuthminPercentage" class="text-danger"></span>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="IsMuthminPercentage" />
                    <label asp-for="IsMuthminPercentage"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AduitPercentage" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="AduitPercentage" class="form-control" />
                    <span asp-validation-for="AduitPercentage" class="text-danger"></span>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="IsAduitPercentage" />
                    <label asp-for="IsAduitPercentage"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AproverPercentage" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="AproverPercentage" class="form-control" />
                    <span asp-validation-for="AproverPercentage" class="text-danger"></span>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="IsAproverPercentage" />
                    <label asp-for="IsAproverPercentage"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SupervisionPercentage" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="SupervisionPercentage" class="form-control" />
                    <span asp-validation-for="SupervisionPercentage" class="text-danger"></span>
                </div>
                <div class="col-md-2 checkbox">
                    <input asp-for="IsSupervisionPercentage" />
                    <label asp-for="IsSupervisionPercentage"></label>
                </div>
            </div>




            <div class="form-group">
                <ol class="list-group">

                    @foreach (IdentityRole role in ViewBag.roles)
                    {
                        if (IsInRole(role.Name))
                        {
                            <li class="list-group-item">
                                <label for="rolesids" class="control-label">@role.Name</label>

                                <input type="checkbox" checked="checked" id="rolesids" name="rolesids" value="@role.Name"/>

                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <label for="rolesids" class="control-label">@role.Name</label>

                                <input type="checkbox" id="rolesids" name="rolesids" value="@role.Name"/>

                            </li>
                        }
                    }

                </ol>

            </div>

            <div class="form-group" style="margin-right: 10%">
                <div class="col-md-3">

                    <img id="imgc" src="@string.Format("http://" + Context.Request.Host + "/ProfPic/" + Model.ProfilePic + ".jpg")" class="thumbnail" width="130" height="130" />
                    <input type="file" id="profid" name="profid" />
                    <label for="profid" class="control-label text-center">صوره الشخصية</label>

                </div>

                <div class="col-md-3">

                    <img src="@string.Format("http://" + Context.Request.Host + "/ProfPic/" + Model.MemberPhotoId + ".jpg")" class="thumbnail" width="130" height="130" />
                    <input id="memberphoto" name="memberphoto" type="file" />
                    <label for="memberphoto" class="control-label text-center">صوره العضوية</label>

                </div>

                <div class="col-md-3">
                    <img src="@string.Format("http://" + Context.Request.Host + "/ProfPic/" + Model.IdenetityPic + ".jpg")" class="thumbnail" width="130" height="130" />
                    <input type="file" id="idnetitypic" name="idnetitypic" />
                    <label for="idnetitypic" class="control-label text-center">صوره الهوية</label>
                </div>

                <div class="col-md-3">
                    <img src="@string.Format("http://" + Context.Request.Host + "/ProfPic/" + Model.SigPic + ".jpg")" class="thumbnail" width="130" height="130" />
                    <input type="file" id="sigpic" name="sigpic" />
                    <label for="sigpic" class="control-label text-center">التوقيــع</label>
                </div>
            </div>

           

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">حفــــظ</button>
                </div>
            </div>

        </form>
    </div>
</div>

@functions
{

    bool IsInRole(string rolename)
    {
        return ((IEnumerable<string>)ViewBag.userRoles).Any(s => s == rolename);
    }


}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
