@model IEnumerable<CloudApp.Models.ManpulateModel.FinCloseModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<div class="row">
    <div class="col-lg-12">
        <h2>التحصيل المالي للحسابات البنكية   </h2>
        <div class="row">
            
            <div class="col-md-4">
                <label class="control-label">من</label>
                <div id="date-popup" class="input-group date">
                    <input id="date1" type="text" data-format="D, dd MM yyyy" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-4">
                <label class="control-label">الي</label>

                <div id="date-popup1" class="input-group date">
                    <input id="date2" type="text" data-format="D, dd MM yyyy" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            
            <div class="col-md-8">
                <br/>
                <a id="btn_filter" class="btn btn-primary">
                    فــرز
                </a>

            </div>

        </div>

    </div>
</div>
<br/>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"></h3>
                <ul class="panel-tool-options"> 
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
         
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Custmer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Scustmer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Bank)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Owner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tbuild)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Place)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.FinPriceClose)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>الاعدادات</th>

                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Custmer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Scustmer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Bank)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tbuild)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Place)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinPriceClose)
                                </td>
                                
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                
                                <td>
                                    <input id="idmodel" value="@Html.DisplayFor(modelItem => item.Id)" type="hidden" />
                                    <input id="typemodel" value="@Html.DisplayFor(modelItem => item.Type)" type="hidden" />
                                    
                                   
                                        <label  class="control-label">البنك</label>
                                        <select id="BankModelId"  class="select2" asp-items="ViewBag.BankId"></select>

                                        <label class="control-label">المدفوع</label>
                                    <input id="FinPriceClose" value="@Html.DisplayFor(modelItem => item.FinPriceClose)" class="form-control"/>

                                    <label class="control-label">خالص</label>
                                    <input id="FinPartClose" type="checkbox"  class="form-control"/>&nbsp;&nbsp;		
                                    
                                    
                                    
                                    <label class="control-label">التاريخ</label>
                                        <input type="date" id="FinDateClose" class="Datefin" />
                                        <button onclick="dojob(this)" class="btn btn-sm btn-success">حفظ</button>                            

                                </td>

                            </tr>
                        }
                        </tbody>
          
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



    

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

    <script>

        $(".select2").css("width", "20%");

       $(".Datefin").datepicker('setDate', new Date());

  
        function dojob(e) {
            var id = $(e).siblings("#idmodel").val();
            var type = $(e).siblings("#typemodel").val();
            var partprice = $(e).siblings("#FinPriceClose").val();
            var bankid = $(e).siblings("#BankModelId").val();
            var date = $(e).siblings("#FinDateClose").val();
            var close;


            if ($(e).siblings("#FinPartClose").prop('checked') == true) {
                close = true;
            } else {
                close = false;
            }
            if (confirm("هل انت متاكد يا مبارك من أجراء العملية ؟")) {
                switch (type) {
                case "1":
                    $.post("/Treatments/EditFin?id=" +  id + "&partprice=" +partprice + "&bankid=" + bankid + "&date=" + date + "&close=" + close,
                        {
                        },
                        function(data, status) {
                            if (status == "success") {
                                if (close) {
                                    $(e).parents("tr").fadeOut("slow");
                                }

                            }
                        });
                    break;
                case "2":
                        $.post("/R1Smaple/EditFin?id=" + id + "&partprice=" + partprice + "&bankid=" + bankid + "&date=" + date + "&close=" + close,
                            {
                            },
                            function (data, status) {
                                if (status == "success") {
                                    if (close) {
                                        $(e).parents("tr").fadeOut("slow");
                                    }

                                }
                            });
                    break;
                case "3":
                    $.post("/R2Smaple/EditFin?id=" + id + "&partprice=" + partprice + "&bankid=" + bankid + "&date=" + date + "&close=" + close,
                        {
                        },
                        function (data, status) {
                            if (status == "success") {
                                if (close) {
                                    $(e).parents("tr").fadeOut("slow");
                                }

                            }
                        });
                    break;
                default:
                }
            }

        }


        $("#btn_filter").click(function() {

            location.href = "/FinModels/FinClose?date1=" + $("#date1").val() + "&date2=" + $("#date2").val();
        });



    </script>
}

