@model IEnumerable<CloudApp.Models.BusinessModel.FinModel>

@{
    ViewData["Title"] = "Index";
    
}
<div class="row">
    <div class="col-lg-12">
        <h2>اختيار التاريخ</h2>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">من</label>
                <div id="date-popup" class="input-group date">
                    <input id="date1" type="text" data-format="D, dd MM yyyy" class="form-control">
                    <span  class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-4">
                <label class="control-label">الي</label>

                <div id="date-popup1" class="input-group date">
                    <input id="date2" type="text" data-format="D, dd MM yyyy" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-8">
               <br/>
                <a id="btn_filter"   class="btn btn-primary">
                    فــرز
                </a>

            </div>     

        </div>


        
      

    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"> الايرادات</h3>
                <ul class="panel-tool-options">
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sample)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Owner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Custmer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tbuild)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Place)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfBegin)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.InterPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MuthmnPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AduitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AproferPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Net)
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sample)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Custmer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tbuild)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Place)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBegin)
                                </td>
 
                                <td>
                                    @Html.DisplayFor(modelItem => item.InterPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MuthmnPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AduitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AproferPrice)
                                </td>
                                <td>                    
                                    @Html.DisplayFor(modelItem => item.Price)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Net)
                                </td>

                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th >الاجمــــالي</th>
                            <th style="color: firebrick">@ViewBag.totalInterprice</th>
                            <th style="color: firebrick">@ViewBag.totalMuthmnPrice</th>
                            <th style="color: firebrick">@ViewBag.totalAduitPrice</th>
                            <th style="color: firebrick">@ViewBag.totalAproferPrice</th>
                            <th style="color: firebrick">@ViewBag.totalprice</th>
                            <th style="color: firebrick">@ViewBag.totalNet</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

    <script>
        $("#btn_filter").click(function () {

            location.href = "/FinModels?date1=" + $("#date1").val() + "&date2=" + $("#date2").val();           
  
        });


    </script>
}


