@model IEnumerable<CloudApp.Models.BusinessModel.Quotation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custmer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCustmer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sign)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custmer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCustmer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sign)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
